@charset "utf-8";

h1 {
  font-size: 24px;
}

h2 {
  font-size: 18px;
}

img {
  vertical-align: bottom;
}

input {
  font-size: 16px;
  width: 240px;
}

button {
  margin-top: 8px;
  display: block;
}


.list {
  padding: 0;
  list-style: none;
}

.list-item {
  padding: 16px 0;
}

.list-item+.list-item {
  /* padding-top: 8px; */
  border-top: 1px solid #ccc;
}

.list-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 16px;
  color: inherit;
  /* background: pink; */
}

.list-img-wrapper {
  width: 48px;
}

.list-img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.list-name-wrapper {
  flex: 1;
  margin: 0;
}