.card {
  background: #eee;
  border-radius: 50%;
  width: calc((100% - (4 * 16px)) / 5);
  aspect-ratio: 1/1;
  justify-content: center;
  padding: 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
}

.card:hover {
  opacity: .6;
}

.card img {
  width: 100%;
  height: auto;
}