.input-form label {
  display: block;
}

.input-form label+label {
  margin-top: 16px;
}

.input-form input {
  font-size: 16px;
  padding: 4px;
  width: 100%;
  box-sizing: border-box;
}

.input-form textarea {
  font-size: 16px;
  padding: 4px;
  width: 100%;
  box-sizing: border-box;
}

.input-form button {
  margin-top: 16px;
  padding: 4px 8px;
  cursor: pointer;
}