@charset "utf-8";

.header {
  border-bottom: 1px solid #ccc;
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
}

.header-inner {
  width: calc(100% - 32px);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
}

.site-title {
  font-size: 18px;
  margin: 0;
  display: flex;
  gap: 4px;
  align-items: center;
}

.global-nav {}

.global-nav-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 16px;
  align-items: center;
}

.global-nav-list li {}

.global-nav-list a {
  color: inherit;
  text-decoration: none;
}